.draggable {
	cursor:move;
}

.uml-block ul {
	padding-left:3px;
	list-style-type:none;
}

.remove{
	cursor: no-drop;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
   cursor:pointer;
}
.parameter {
	position: relative;
}
.relationBox {
	position:absolute;
	border: 1px solid black;
	background: white;
	width:6px;
	top:7px;
	height:6px;
}
.relationBoxRight {
	right: -3px;
}
.relationBoxLeft {
	left: -20px;
}

