<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" >
		<base href="/krzysiek/angular/" >
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>		
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body ng-app ng-controller="blocksController" ng-mousemove="onDrag($event)" ng-mouseup="dragStop()">
		<div class="col-lg-2">
			<form ng-submit="addBlock($event)">
				<input type="text" class="form-control" ng-model="block.class"/>
				<input type="submit" value="GO!" /> 
			</form>
			<button ng-click="export();">Export</button>
		</div>
		<div class="col-lg-10">	
			<div style="scroll-x:auto;scroll-y:auto;position:relative;" >
				<div ng-repeat="b in blocks" style="left:{{b.left}}px;top:{{b.top}}px;position:absolute" class="col-lg-2 panel panel-default uml-block" ng-controller="blockController">
					<div class="panel-heading draggable" ng-mousedown="dragStart(b, $event)">{{b.class}} <span class="glyphicon glyphicon-remove remove" ng-click="removeBlock(b)"></span></div>
					<div class="panel-body">
						<ul ng-repeat="e in b.elements">
							<li class="parameter">
								<div class="relationBox relationBoxLeft" ng-mousedown="beginRelation(e, this, $event)", ng-mouseup="endRelation(e, this, $event)"></div>
								{{e.label}}
								<span class="glyphicon glyphicon-remove" ng-click="removeContent(e)"></span> 
								<div class="relationBox relationBoxRight" ng-mousedown="beginRelation(e, this, $event)" ng-mouseup="endRelation(e, this, $event)"></div>
							</li>
						</ul>
						<span ng-if="!b.readonly">
							<form ng-submit="addContent(b)">
								<input class='form-control' ng-model="b.parameter" />
							</form>
						</span>
					</div>
				</div>
				<canvas width="1280" height="800" style="border:1px solid black" id="canvas"></canvas>
			</div>
		</div>
	</body>
</html>
